@mixin example($width:200px, $height:300px){
    background-color: dimgray;
    color: #fff;
    box-shadow: 2px 2px 0 0 red;
    width: $width;
    height: $height;
    text-align: center;
}
@mixin button-link {
    padding: 20px 20px 20px 20px;
    width: 200px;
    height: 50px;
    background-color: rgb(28, 101, 165);
    color: #fff;
    box-shadow: 5px 5px 3px 5px #fff;
    text-align: center;
    border-radius: 5px;
    border: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: 700;
    
}
.div{
    @include button-link()
}